@charset "utf-8";

.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
}

#history {
	height: 80%;
	position: absolute;
	top: 10%;
	left: 22%;
}

.title {
	height: 95px;
	line-height: 95px;
	text-indent: 280px;
}

.title h2 {
	color: #7c7c7c;
	font-size: 18px;
	font-weight: 500;
}

#circle {
	width: 103px;
	height: 103px;
	position: absolute;
	top: -11px;
	left: 381px;
	border: 6px solid #6bc30d;
	border-radius: 95px;
	text-indent: 0;
	text-align: center;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

#circle .cmsk {
	height: 83px;
	position: absolute;
	width: 83px;
	top: 0;
	left: 0;
}

#circle:hover {
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	border-color: rgba(0,0,0,0);
}

.clock {
	display: block;
}

#circle:hover {
	border-color: rgba(255,255,255,0.6);
	background-color: #6bc30d;
}

#circle:hover .clock {
	display: block;
}

#circle:hover .circlecontent {
	display: none;
}

#circle span {
	font-size: 18px;
	color: #b0b0b0;
}

#circle .clock {
	width: 83px;
	height: 83px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	border-radius: 0;
}

#circle:hover .clock {
	border-radius: 83px;
}

.circlecontent {
	color: #6bc30d;
	font-size: 22px;
	line-height: 108px;
}

#content {
	width: 1180px;
	overflow: hidden;
	background: url(../../images/system/develop/vertical.png) no-repeat 434px 2px;
	padding-top: 10px;
}

.list {
	overflow: hidden;
	position: relative;
}

.list li {
	height: 150px;
	vertical-align: bottom;
	overflow: hidden;
	position: relative;
}

.liwrap {
	height: 55px;
	margin-top: 28px;
}

.lileft {
	position: absolute;
	top: 0;
	left: 0px;
	height: 55px;
	width: 400px;
	line-height: 55px;
	text-align: right;
}

.liright {
	position: absolute;
	top: 0;
	right: 0px;
	height: 55px;
	width: 700px;
}

.histt {
	height: 35px;
	line-height: 35px;
	color: #EEE;
}

.hisct {
	font-size: 14px;
	color: #EEE;
	font-family: 'Arial'
}

.year {
	font-size: 22px;
	color: #6bc30d;
}

.point {
	width: 55px;
	height: 55px;
	position: absolute;
	top: 0;
	left: 409px;
	background: url(../../images/system/develop/point.png) no-repeat 0px 18px;
	overflow: hidden;
}

.point b {
	height: 16px;
	width: 16px;
	background: #fff;
	display: block;
	margin: 17px 0 0 19px;
	border-radius: 18px;
	border: 2px solid #6bc30d;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	position: absolute;
	top: 2px;
	left: 2px;
}

.thiscur .point b {
	border: 7px solid rgba(107,195,13,0.6);
	margin: 18px 0px 0px 18px;
	border-radius: 52px;
}

.thiscur .histt a {
	color: #6bc30d;
}

.histt a {
	font-size: 24px;
	color: #747474;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

#arrow {
	position: fixed;
	top: 50%;
	right: 20px;
}

*html #arrow {
	position: absolute;
	top: expression(eval(document.documentElement.scrollTop));
	margin-top: 350px;
}
.arrowup {
	opacity: 0.3;
	display: block;
	height: 60px;
	width: 60px;
	background: url(../../images/system/develop/up.png) no-repeat center center;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	border-radius: 100%;
}
.arrowdown {
	opacity: 0.3;
	display: block;
	height: 60px;
	width: 60px;
	background: url(../../images/system/develop/down.png) no-repeat center center;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	border-radius: 100%;
}
 
